footer#footer {
	background-color: var(--footer-color);
	height: 15vh;
	border: 1px solid black;
}

footer#footer > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

footer#footer #footerLeft {
	height: 100%;
	display: flex;
	align-items: center;
}

footer#footer #footerLeft #footerLogo {
	height: 50%;
}
footer#footer #footerLeft #footerLogo a {
	height: 100%;
	display: flex;
	justify-content: center;
}

footer#footer #footerLeft #footerCopyright {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer#footer #footerRight {
	height: 100%;
	display: flex;
	align-items: center;
}

footer#footer #footerRight div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

footer#footer #footerRight div > div {
	text-align: center;
}

footer#footer #footerRight ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}
