#signInPage {
	height: 70vh;
}

#signInPage a {
	color: #0080ff;
}

#signInPage > div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#formContainer {
	width: 50%;
	border: 1px solid red;
	border-radius: 2.5rem;
	padding: 2rem;
}

#formContainer > #formTitleGroup {
	text-align: center;
}

#submitGroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#submitGroup > #subForm {
	margin: auto 0;
}
