.buttonDiv {
	/* margin: 2em 0; */
}

.roundButton {
	padding: 10px 25px;
	color: white;
	font-family: var(--secondary-font);
	background-color: var(--button-color);
	font-size: inherit;
	font-weight: inherit;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 0.75rem;
	cursor: pointer;
}

.roundButton:hover {
	background-color: var(--white);
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: var(--black);
	transition: 100ms;
}

.roundButton:not(:hover) {
	transition: 100ms;
}